<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<title>Dongjun Cho Website </title>
<meta property="og:title" content="Dongjun Cho's Website">
<meta property="og:description" content="This is the website made by Dongjun Cho.">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">  

<style>
  img.resize {
    max-width:36%;
    max-height:36%;
    padding-left: 210px
  }
</style>


</head>
<body class="stretched side-header">
<div id="wrapper" class="clearfix">

<header id="header" class="no-sticky">
    <body data-daytime>
      <div class="sidenav">
          <script src="../js/side_background.js"></script>
              
            <div id="icon" class="nobottomborder" style ="padding-top: 30px">
                <a href="../index.html" target="_self">
                  <center>
                    <img class="img_logo" src="../assets/images/face.PNG" class="profile_image" alt="">
                  </center></a>
            </div>

            
            <nav id="primary-menu" style="padding-left: 35px; padding-top: none">
              <ul id = "Menu">   

                  <!--<li snb-code="01" main-title="Protitle"><a href="../view/profile.html"><div class="snb-title">Profile</div></a></li>-->

                  <li snb-code="02" main-title="Resume"><a href="../view/resume.html"><div class="snb-title">Resume</div></a></li>

                  <li snb-code="03" main-title="Education"><a href="../view/education.html"><div class="snb-title">Education</div></a>
                  </li>

                  <li snb-code="04" main-title="Experience"><a href="#"><div class="snb-title">Experience</div></a>
                    <ul>
                        <li snb-depth-code="01" main-title="Code Project"><a href="../view/code_project.html"><div>Code Project</div></a></li>
                        <li snb-depth-code="02" main-title="Research Experience"><a href="../view/research_exp.html"><div>Research Experience</div></a></li>
                        <li snb-depth-code="03" main-title="Data Analytics"><a href="../view/data_analytics_page.html"><div>Data Analytics</div></a></li>
                    </ul>
                  </li>

                  <li snb-code="05" main-title="Certificate"><a href="../view/certificate.html"><div class="snb-title">Certification</div></a>
                  </li>
              </ul>
             </nav><!-- #primary-menu end -->
          <nav id="icon">
              <a href="https://github.com/whehdwns" target="_blank">
                <i class="fa fa-github fa-3" aria-hidden="true" style="font-size:25px; float:left;"></i></a>

              <a href="https://www.linkedin.com/in/dongjun-dj-cho/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true" style="font-size:25px; float:left;"></i></a>

              <a href="mailto:dongjun819@gmail.com" target="_blank">
                <i class="fa fa-envelope" aria-hidden="true" style="font-size:25px;"></i></a>
          </nav>
    </div>
  </div>
</body>
</header>

<section id="top">
  <div class ="main" style ="text-align: center;" >
      <h2>Education</h2>
  </div>
  <hr>
</section>

<section id="Education">
    <div class ="container" style ="text-align: center;">
        <a href="https://engineering.jhu.edu" target="_blank" rel="noopener"><img class="resize" src="../assets/images/jhs_whiting_logo.jpg" alt="Johns Hopkins Whiting School of Engineering"></a>
        <h3 style=" padding-left: 220px;">Johns Hopkins Whiting School of Engineering</h3>
                <p style=" padding-left: 220px;">Master of Science in Computer Science <br>
                  Concentration in Data Science and Cloud Computing <br>
                  Enrolled in August 2020<br>
                  Expected Graduation in Spring 2023<br>
                </p>  
                <p style=" padding-left: 220px;">
                  Courses:<br>
                   Foundations of Algorithms, Foundations of Computer Architecture<br>  Foundations of Software Engineering, Discrete Mathematics <br>
                  Principles of Database Systems, Principles of Enterprise Web Development
                </p> 
      </div>
    <div class ="container" style ="text-align: center; padding-top: 30px">
        <a href="https://www.ucmerced.edu" target="_blank" rel="noopener"><img class="resize" src="../assets/images/ucm_logo.png" alt="University of California, Merced"></a>
        <h3 style=" padding-left: 220px;">University of California, Merced</h3>
                <p style=" padding-left: 220px;">Bachelor of Science in Computer Science and Engineering <br>
                  Enrolled in August 2016<br>
                  Graduated in December 2019<br>
                </p>    
                <p style=" padding-left: 220px;">
                  Courses: 
                  <br>Algorithm Design and Analysis, Computer Architecture, Computer Networks<br>
                  Database Systems, Data Structures, Intro. Artificial Intelligence <br>
                  Intro. Parallel Computing, Numerical Methods <br> 
                  Probability and Statistics, Operating Systems, Software Engineering 
                </p>    
    </div>
</section>

</body>
</html> 
